main {
    height: 100%;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.list-group-item-lepszy {
    background-color: #0dcaf0;
    display: grid;
    grid-template-areas: "name name" "begin_time edit_icon_button" "end_time delete_icon_button" "description description";
    grid-template-columns: 1fr 24px;
}

.list-group-item-lepszy-description h6 {
    user-select: none;

}

.list-group-item-lepszy-description {
    grid-area: description;
}
