body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(60, 60, 240) , rgb(180, 180, 240));
    padding-bottom: 60px;
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-copyright span {
    background-color: aliceblue;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.button-nav {
    border-radius: 20px;
    background-color: darkkhaki;
}

.header-nav {
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 5px;
}

.nav-nav {
    margin-top: 10px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.element-nav {
    background-color: lightskyblue;
    border-radius: 10px;
    margin: 5px;
}

.element-show {
    background-color: red;
    padding: 1%;
    display: grid;
    grid-template-areas: "name name" "begin_time edit_icon_button" "end_time delete_icon_button" "description description";
    grid-template-columns: 1fr 24px;
}

.list-group-item-lepszy-description h6 {
    user-select: none;
}

.list-group-item-lepszy-description {
    grid-area: description;
}

.body-edit {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: aliceblue;
  }

.form-edit {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.div-sign {
    margin-top: -30px;
    background-color: aliceblue;
    padding: 5%;
    border-radius: 10px;
}

.div-sign h1 {
    text-align: center;
}

.button-sign {
    margin-top: 10px;
}

.body-sign {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-sign .form-floating:focus-within {
    z-index: 2;
}

.form-sign input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign .first-password {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-sign input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
