body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(60, 60, 240) , rgb(180, 180, 240));
    padding-bottom: 60px;
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-copyright span {
    background-color: aliceblue;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.button-nav {
    background-color: lightskyblue;
}

.header-nav {
    align-items: center;
    text-align: center;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    margin: 5px;
}

.nav-nav {
    margin-top: 10px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.element-nav {
    background-color: lightskyblue;
    border-radius: 10px;
    margin: 5px;
}

.element-show {
    background-color: aliceblue;
    border-radius: 10px;
    margin: 5px;
}

.title-show {
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(13, 110, 253);;
    margin: 5px;
}

.button-show {
    border: aliceblue;
    border-style: solid;
    border-radius: 10px;
}

.info-tasks-holder {
    padding: 10px;
    border-radius: 10px;
}

.task-times {
    border-radius: 10px;
    text-align: center;
}

.contributors-list {
    border-radius: 10px;
    background-color: lightskyblue;
    margin-bottom: 10px;
}

.button-holder {
    padding: 10px;
}

.button-delete {
    background-color: red;
}

.button-edit {
    background-color: mediumseagreen;
}

.header-edit {
    border-radius: 10px;
    margin: 5px;
}
.white-font {
    color: aliceblue;
}

.title-edit {
    align-items: center;
    text-align: center;
    background-color:  rgb(13, 110, 253);
}

.edit-edit {
    margin-top: 10px;
    background-color:lightskyblue;
    padding: 10px;
    border-radius: 10px;
}

.element-edit {
    background-color: aliceblue;
}

.row-task-edit {
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    float: none;
}

.table-edit {
    background-color: black;
}

.padding-button-edit {
    padding: 0;
}

input {
    min-width: none;
    width: auto;
}

.form-edit {
    text-align: center;
    padding: 10px;
}

.form-edit .form-floating:focus-within {
    z-index: 2;
}

.form-edit h2 {
    margin-bottom: 15px;
}

.form-edit .first-element {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-edit .middle-element {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-edit .last-element {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.center-class {
    display:grid;
    place-items:center
}

.div-sign {
    margin-top: -30px;
    background-color: aliceblue;
    padding: 5%;
    border-radius: 10px;
}

.div-sign h1 {
    text-align: center;
}

.button-sign {
    margin-top: 10px;
}

.body-sign {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-sign .form-floating:focus-within {
    z-index: 2;
}

.form-sign input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign .first-password {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-sign input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
